<header>

    <!-- brand Logo -->
    <a href="./"><img src="./images/HHWhite.png" alt="Hammerhead Hardware Logo"></a>

    <!-- search bar -->
    <div class="search-container">
        <input type="text" placeholder="Search">
        <button type="submit">
            <img src="./images/magnifying-glass-solid.svg" alt="Search">
        </button>
    </div>    

    <!-- site navigation menu -->
    <nav>
        <a href="./items.html">Browse</a>
        <a href="./new.html">Sell</a>
        <a href="#">Sign Up</a>
        <a href="#">Login</a>
    </nav>
    
</header>
