<%- include('./partials/header.ejs')%>

    <main>
        <h1>Hammerhead Hardware</h1>
        <p>At Hammerhead Hardware, we specialize in providing high-quality hardware tools to our customers. We also
            offer
            buy-back programs so your old tools have somewhere to go, and you have more room for new tools. Reach out to
            our
            staff for any questions.</p>

        <button class="browse">Start Browsing our Tool Selection</button>

        <!-- Image Section -->
        <div class="image-container">
            <img src="/images/big-bundle-illustrations-for-carpenter-tools-theme-free-vector.jpg"
                alt="Various array of tools">
            <img src="/images/200.gif" alt="Hammerhead shark swimming">
        </div>
    </main>

    <%- include('./partials/footer.ejs')%>