</main>

<footer>
    <p>&#169; Hammerhead Hardware</p>

    <nav>
        <a href="https://facebook.com" target="_blank">
            <img src="./images/social/facebook-f-brands-solid.svg" alt="Facebook">
        </a>
        <a href="https://instagram.com" target="_blank">
            <img src="./images/social/instagram-brands-solid.svg" alt="Instagram">
        </a>
        <a href="https://linkedin.com" target="_blank">
            <img src="./images/social/linkedin-in-brands-solid.svg" alt="LinkedIn">
        </a>
        <a href="https://pinterest.com" target="_blank">
            <img src="./images/social/pinterest-p-brands-solid.svg" alt="Pinterest">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="./images/social/x-twitter-brands-solid.svg" alt="Twitter">
        </a>
        <a href="https://youtube.com" target="_blank">
            <img src="./images/social/youtube-brands-solid.svg" alt="YouTube">
        </a>
    </nav>

</footer>

</body>

</html>