<%- include('./partials/header.ejs')%>
    <h1><%= error.status%></h1>
    <p><%= error.message%></p>
    
    <!-- Image Section -->
    <div class="image-container">
        <img src="/images/200.gif" alt="Hammerhead shark swimming">
    </div>
    <%- include('./partials/footer.ejs')%>